p {
    line-height: 1.5em;
}
.chapter-num {
    font-size: xx-large;
    font-weight: bold;
    color: #777;
}
.verse-num {
    vertical-align: top;
    position: relative;
    top: -0.5em;
    font-size: x-small;
    font-weight: bold;
    color: #777;
}
.footnote .fn {
    vertical-align: top;
    position: relative;
    top: -0.5em;
    font-size: x-small;
}
.footnote a {
    font-style: italic;
    font-weight: bold;
    color: #333;
}

.footnotes {
    margin-top: 2em;
    font-size: small;
}
.footnotes h3 {
    display: none;
}
.footnote-ref {
    font-weight: bold;
}

.surrounding-chapters {
    margin-top: 2em;
    font-size: small;
    list-style-type: none;
    padding: 0px;
}
.surrounding-chapters li {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}
.surrounding-chapters a {
    font-style: italic;
    color: #333;
}

.copyright {
    margin-top: 2em;
    font-size: x-small;
    font-style: italic;
}
.copyright a {
    color: #333;
}
